<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>編集確認画面</title>
</head>
<body>
	<h1>住所録管理システム：住所録編集</h1>
	<form action="#" th:action="@{/Address/update}"
		th:object="${editUserRequest}" th:method="post">
		<input type="hidden" value="*{id}" th:field="*{id}">
		<table>
			<tr>
				<th class="cell_title">名前 ：</th>
				<td><span th:text="*{name}" th:field="*{name}"></span></td>
				<td><input type="hidden" value="*{name}" th:field="*{name}"></td>
			</tr>
			<tr>
				<th class="cell_title">住所 ：</th>
				<td><span th:text="*{address}" th:field="*{address}"></span></td>
				<td><input type="hidden" value="*{address}"
					th:field="*{address}"></td>
			</tr>
			<tr>
				<th class="cell_title">電話番号 ：</th>
				<td><span th:text="*{tel}" th:field="*{tel}"></span></td>
				<td><input type="hidden" value="*{tel}" th:field="*{tel}"></td>
			</tr>
		</table>
		<div>
			<input type="submit" value="登録" class="btn">
		</div>
	</form>

	<form th:action="@{/Address/Edit}">
		<input type="submit" value="戻る" class="btn">
	</form>
</body>
</html>