@charset "UTF-8";

head, body {
	width: 960px;
	margin: 0 auto;
}

.btn {
	width: 100px;
	background-color: #777777;
	border: 1px solid #000;
	padding: 3px 5px;
}

th {
	text-align: right;
}

th, td {
	padding: 0 3px;
}